* {
    padding: 0;
    font-family:'oswald' ;
    margin: 0;
}
body {
    background-color: rgb(238, 238, 238);
}
ul {
    list-style: none;
}

header {
    padding: 20px;
    background-color: #BC0000;
    /* FLEX */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo-titulo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo-titulo h1 {
    width: 25%;
    font-size: 30px;
}
.logo-titulo img {
    width: 150px;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

header ul li {
    margin-right: 15px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    text-decoration: none;
    color: #F57C00;
    transition: all 300ms;
}
/* --------------------- */
/* Producto */

.zona-productos {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
}
.filtro {
    border: 1px solid rgb(199, 199, 199);
    border-right: 0px;
    background-color: #fff;
    width: 20%;
    min-width: 150px;
    min-height: 200px;
    box-sizing: border-box;
    max-height: 280px;
}
.filtro h3,
.filtro>ul {
    margin: 10px;
}

.filtro ul li ul {
    display: none;
    list-style: none;
    margin-left: 10px;
}

.filtro ul li ul:target {
    display: block;
}

.inicio-h3{
    text-align: center;
    margin-top: 3%;
}
.articulos {
    width: 75%;
    border: 1px solid rgb(199, 199, 199);
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 10px;
}

.articulos section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/* .cartas{
    
    

} */

.cartas{
    width: 75%;
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(199, 199, 199);
    background-color: white;
    display: flex;
    flex-flow: row wrap;

    justify-content: flex-start;
}
.articulos section article {
    margin-right: 10px;
}

/* Cartas */
.articulos section article .card img {
    width: 100px;
    height: 150px;
    display: block;
    margin: auto;
}

.card-body p .producto-antes{
    text-decoration: line-through;
    font-size: 20px;
    color: gray;
}
.articulos section article .card-body .producto-oferta {
    color: red;
}

/* ---------------------- */
/* INICIAR SESION */
.container {
    border: 1px solid rgb(199, 199, 199);
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.politicas,
.formulario {
    width: 50%;

}
input {
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: rgb(34, 32, 32);
    border: 1px solid rgb(34, 32, 32);
    justify-content: center;
    margin-top: 1%;
}

.titulocartas{
    text-align: center;
    height: 40px;
}

.cartas article img{
    width: 200px;
    display: block;
    margin: auto;
}
.cartas2{
    border: 5px solid rgb(199, 199, 199);
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1%;
}

.cartas2 article img{
    width: 100px;
    height: 200px;
    display: block;
    margin: auto;
}

.cartas3{
    border: 5px solid rgb(199, 199, 199);
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1%;
}

.cartas3 article img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}


.precioo1c{
    color: gray;
    font-size: 20px;
}

.ofertareal{
    color: red;
    font-size: 25px;
}
/* ---------------------- */

/* Registrar */
.imagen-login {
    width: 50%;
    display: block;
    margin: auto;
}
/* ---------------- */

/* PAGINA CONTACTO */
.contenidoContacto{
    /* padding: 30px; */
    border: 1px solid rgb(199, 199, 199);
    background: white; 
    width: 80%;
    margin: 10px auto;
    padding: 10px;

} 

.contac img{
    width: 150px;
    display: block;
    margin: auto;
}


.Contac{ 
    padding: 15px;
    background:white; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contac article{
    width: 30%;
    
}

.Contac p{
    font-family: inherit;
    /* border: 1px red solid ; */
    font-size: 20px;
    
}

section h2{
    margin-top: 50px ;
    
}


.contac article p {
    font-size: 15px;
}
/* ================== */
/* ---- FOOTER ---- */

footer {
    /* margin: auto; */
    margin-top: 5rem;
    padding-top: 2%;
    background-color: #BC0000;
    width: 100%;
    min-height: 100px;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer section {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}
footer section article {
    
    /* border: 1px solid black; */
    flex: 1;
    padding: 20px;
}
footer section article  h3{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

footer section article ul li a,
footer section article ul li{
    color: #fff;
}

footer section article ul li a :hover,
footer section article ul li :hover{
    color:cornflowerblue;
    text-decoration: none;
} 

/* ---------------- */
    /*--- Estilo de Comentarios ---*/
.public-comment {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 3rem;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.public-box .comment-content {
    padding-bottom: 0px;
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.public-box .comment-content textarea {
    padding: 1.65rem;
}

.comment-buttom {
    text-align: right;
}

/* No cambiar */
.comments-container {
    margin: 60px auto 20px;
    width: 50%;
}

.comments-container h2 {
    font-size: 40px;
    font-weight: normal;
}

.comments-list {
    margin-top: 55px;
}

.comments-list li {
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.comments-list li::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    margin-top: 20px;
    padding-left: 75px;
    clear: both;
}

.comments-list .comment-avatar {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 100;
    float: left;
    border: 4px solid #28a745;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 75px;
    height: 75px;
}

.comments-list .comment-box {
    width: 100%;
    /* float: right; Esta linea me da error */
    position: relative;
}

.comment-box .comment-head {
    background: #28a745;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 11px;
    cursor: pointer;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.comment-box .comment-head i:hover {
    color: white;
}

.comment-box .comment-name {
    font-size: 18px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 7px;
    position: relative;
}

.comment-box .comment-head span {
    font-size: 14px;
    float: left;
    margin-top: 9px;
    color: #505050;
    position: relative;
}

.comment-box .comment-content {
    background: white;
    padding: 20px;
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}



/* CONDICIONES */
/* Condiciones PRODUCTOS */
@media screen and (max-width:400px) {
    /* Condiciones PRODUCTOS */
    .filtro{
        width: 90%;
        border-right: 1px solid rgb(199, 199, 199);
    }

    .articulos {
        width: 90%;
    }


    .articulos section{
        justify-content: center;
    }

    header ul {
        margin-top: 10px;
        height: 5px;
    }
    /* Condiciones INICIO */

    .w-100 {
        height: 500px;
    }

    .politicas {
        display: none;
    }

    .formulario,
    .formulario input {
        width: 100%;
    }

    .comments-container {
        width: 100%;
    }

    .reply-list {
        margin-top: 20px;
        padding-left: 25px;
        clear: both;
    }

    /* .formulario form img {
        width: 280px;
    } */
}
/* ----------- */