* {
    padding: 0;
    font-family:'oswald' ;
    margin: 0;
}
ul {
    list-style: none;
}

main {
    /* height: 100%; */
    /* background-color: #F57C00; */
}

header {
    padding: 20px;
    background-color: #BC0000;
    /* FLEX */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo-titulo {
    display: flex;
    align-items: center;
    color: #fff;
    /* font-family: ; */
}

.logo-titulo h1 {
    width: 25%;
    font-size: 30px;
}
.logo-titulo img {
    width: 150px;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

header ul li {
    margin-right: 15px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    text-decoration: none;
    color: #F57C00;
    transition: all 300ms;
}
/* --------------------- */
/* Producto */

.zona-productos {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
}
.filtro {
    border: 1px solid black;
    width: 15%;
    min-width: 150px;
    min-height: 200px;
    box-sizing: border-box;
}

.filtro>ul {
    margin: 10px;
}

.filtro ul li ul {
    display: none;
    list-style: none;
    margin-left: 10px;
}

.filtro ul li ul:target {
    display: block;
}


.articulos {
    width: 85%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;

    

}

.articulos section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* ---------------------- */
/* ---- FOOTER ---- */

footer {
    /* margin: auto; */
    margin-top: 10px;
    padding-top: 2%;
    background-color: #BC0000;
    width: 100%;
    min-height: 100px;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer section {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}
footer section article {
    
    /* border: 1px solid black; */
    flex: 1;
    padding: 20px;
}
footer section article  h3{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

footer section article ul li a,
footer section article ul li{
    color: #fff;
}


/* ---------------- */
/* *{
    margin: 0px;
    padding: 0px;
    font-family:'oswald' ;
    text-align: center;
}

body{
    background-color: #F7F7F7;
}
h1{
    text-align:center;
    color: rgb(255, 255, 255);
}



p{
    color: rgb(255, 255, 255);
}

header img{
    height: 160px;
    position: absolute;
    top: 0px;
    left: 50px;
    display: block;
}

header{
    background-color: #BC0000;
    height: 145px;
    margin-top: 0px;
    padding-top: 50px ;
}

header ul{
    position: absolute;
    right: 100px;
    list-style: none;
    top: 50px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

header ul li a :hover{
    color: seagreen;
    text-decoration: none;
}

.navbar{
    margin-bottom: 25px;
    } */



    .contac{
        height: 100%; 
        /* border: 5px red solid;  */
        margin: 50px;
    }

    
    
    .contac p{
        font-family: inherit;
        /* border: 1px red solid ; */
        font-size: 20px;
        
    }
    
    section h2{
        margin-top: 50px ;
     
    }
    
    .nido{
        margin-top: 50px;
    }

    .nido img{
        border: 3px red solid;
        
    }

    .nido text{
        margin: 20px;
        right: 2323px;
    }

    .carozzi{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -180px;
        
    }

    .carozzi img{
        border: 3px red solid;
    }

    .sprunk{
        display: flex;
        flex-direction: row-reverse;
        margin-top:  -155px;
        
    }

    .sprunk img{
        border: 3px red solid;

    }