* {
    padding: 0;
    font-family:'oswald' ;
    margin: 0;
}
ul {
    list-style: none;
}

main {
    height: 100%;
    background-color: rgb(238, 238, 238);
}

header {
    padding: 20px;
    background-color: #BC0000;
    /* FLEX */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header .logo-titulo {
    display: flex;
    align-items: center;
    color: #fff;
    /* font-family: ; */
}

.logo-titulo h1 {
    width: 25%;
    font-size: 30px;
}
.logo-titulo img {
    width: 150px;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

header ul li {
    margin-right: 15px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    text-decoration: none;
    color: #F57C00;
    transition: all 300ms;
}
/* --------------------- */
/* Producto */

.zona-productos {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
}
.filtro {
    border: 1px solid rgb(199, 199, 199);
    border-right: 0px;
    background-color: #fff;
    width: 20%;
    min-width: 150px;
    min-height: 200px;
    box-sizing: border-box;
    max-height: 280px;
}
.filtro h3,
.filtro>ul {
    margin: 10px;
}

.filtro ul li ul {
    display: none;
    list-style: none;
    margin-left: 10px;
}

.filtro ul li ul:target {
    display: block;
}


.articulos {
    width: 75%;
    border: 1px solid rgb(199, 199, 199);
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 10px;
    

}

.articulos section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.articulos section article {
    margin-right: 10px;
}

/* Cartas */
.articulos section article .card img {
    width: 100px;
    height: 150px;
    display: block;
    margin: auto;
}

.card-body p .producto-antes{
    text-decoration: line-through;
    font-size: 20px;
    color: gray;
}
.articulos section article .card-body .producto-oferta {
    color: red;
}

/* ---------------------- */
/* INICIAR SESION */
.container {
    border: 1px solid rgb(199, 199, 199);
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.politicas,
.formulario {
    width: 50%;

}
input {
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: rgb(34, 32, 32);
    border: 1px solid rgb(34, 32, 32);
}
/* ---------------------- */
/* ---- FOOTER ---- */

footer {
    /* margin: auto; */
    margin-top: 10px;
    padding-top: 2%;
    background-color: #BC0000;
    width: 100%;
    min-height: 100px;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer section {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}
footer section article {
    
    /* border: 1px solid black; */
    flex: 1;
    padding: 20px;
}
footer section article  h3{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

footer section article ul li a,
footer section article ul li{
    color: #fff;
}
/* CONDICIONES */
/* Condiciones PRODUCTOS */
@media screen and (max-width:400px) {
    /* Condiciones PRODUCTOS */
    .filtro{
        width: 90%;
        border-right: 1px solid rgb(199, 199, 199);
    }

    .articulos {
        width: 90%;
    }

    .articulos section{
        justify-content: center;
    }

    header ul {
        margin-top: 10px;
        height: 5px;
    }
    /* Condiciones INICIO */

    .w-100 {
        height: 500px;
    }

    .politicas {
        display: none;
    }

    .formulario,
    .formulario input {
        width: 100%;
    }
}
/* ----------- */

/* ---------------- */
/* *{
    margin: 0px;
    padding: 0px;
    font-family:'oswald' ;
    text-align: center;
}

body{
    background-color: #F7F7F7;
}
h1{
    text-align:center;
    color: rgb(255, 255, 255);
}



p{
    color: rgb(255, 255, 255);
}

header img{
    height: 160px;
    position: absolute;
    top: 0px;
    left: 50px;
    display: block;
}

header{
    background-color: #BC0000;
    height: 145px;
    margin-top: 0px;
    padding-top: 50px ;
}

header ul{
    position: absolute;
    right: 100px;
    list-style: none;
    top: 50px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

header ul li a :hover{
    color: seagreen;
    text-decoration: none;
}

.navbar{
    margin-bottom: 25px;
    } */